body {
    max-height:auto;
    max-width: auto;
    background-image: url('./1.JPG');
    background-repeat: no-repeat;
}

.startTextContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 160px;
    font-family: cursive;
    font-weight: bolder;
}

.navBar{
    top:0;
    left:0;
    font-size:30px;
    font-weight: bold;
    
}

.navBar a {
    padding-left: 10px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: gray;
  }

a:active {
    color: gray;
}